* {
    scroll-behavior: smooth;
}

/*Sections*/

.section {
    padding: 8rem 0 7;
    text-align: center;
}

.section-heading, .section-description {
    margin-bottom: 1.2rem;
}

.section-a .fa {
    font-size: 30px;
    margin-bottom: .5rem;
}

.section-a h5, .section-a p {
    margin-bottom: .3rm;
}

.section-a a {
    color: black;
    text-decoration: none; 
}

.section-a nav {
    scroll-behavior: smooth;
}

.section-a p {
    font-size: larger;
}

.section-statement .showcase-img {
    position: relative;
    max-width: 90%;
    margin: 3rem auto 3rem;
}

#statement-text {
    text-align: center;
    padding-top: 2.2em;
    font-size: larger;
}

.section-c .showcase-img {
    position: relative;
    max-width: 60%;
    margin: .3rem auto .1rem;
}

.section-c p {
    font-size: larger;
}

.section-b label {
    text-align: left;
}

.section-img img {
    position: relative;
    max-width: 20%;
}

.section-img {
    padding: 2rem 0 0;
}

.section-d ul {
    text-align: left;
    list-style-position: outside;
    font-size: larger;
}

.section-d .row.row2 img {
    padding-left: -3em;
}

.section-d .showcase-img {
    max-width: 50%;
}

.section-d p {
    text-align: center;
    font-size: larger;
}

.section-showcase a:hover, .section-statement a:hover {
    background: #00ca46;
}


.section-a.about-us, .section-a.priv-pol {
    padding-top: 3em;
}

.section-a.priv-pol p {
    font-size: larger;
}

.row.data {
    margin: 7em 0;
}

/*To-top button*/

button:hover {
    background: #00ca46;
}


#button {
    display: inline-block;
    background-color: #00ca46;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 50px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "^";
    font-family: 'Texturina', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/*Various*/

#address-info {
    list-style-position: outside;
}

.numbers {
    font-family: 'Quicksand', sans-serif;
}

footer {
    text-align: center;
    line-height: 0.1em;
}

footer a {
    padding-bottom: 2em;
}

@media(min-width:100px) {
    .section-b .column2 {
        padding-left: 0em;
        padding-top: 1.5em;
    }
    .section-b .column2 h5, .section-b .column2 p {
        text-align: left;
    }
    footer {
        text-align: center;
        line-height: 1em;
    }
}

@media(min-width:1000px) {
    .section-b .column2 {
        padding-left: 4em;
        padding-top: 1em;
    }
    .section-b .column2 h5, .section-b .column2 p {
        text-align: left;
        white-space: nowrap;
    }
}

#main-title {
    font-size: 2em;
}
/*
#mat-link {
    text-decoration: underline;
}
*/
/*Contact info*/

#status {
    width: 90%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: #00ca46;
    animation: status 4s ease forwards;
}

.input-error {
    color: rgb(250, 129, 92);
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

#loader {
    display: none;
    position: relative;
    width: 15%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.error-class::-webkit-input-placeholder {
    color: rgb(250, 129, 92);
}

input:focus {
    outline: none !important;
    border-color: #00ca46;
    box-shadow: 0 0 3px #00ca46;
}

textarea:focus {
    outline: none !important;
    border-color: #00ca46;
    box-shadow: 0 0 3px #00ca46;
}

#message {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
}

/*Index page pictures*/

#extensive-reporting-index {
    padding-top: 6em;
}

#effective-inventory-index {
    padding-top: 3em;
}

#user-friendly-index {
    padding-top: 3.5em;
}

/*Sub-page images*/

.sub-page-image {
    max-width: 50%;
}

#quick-info-sub {
    padding-top: 3em;
}

#easy-data-collection-sub {
    padding-top: 1em;
}

#integrated-database-sub {
    padding-top: 2.5em;
}

#quality-assurance-sub {
    padding-top: 2em;
}

#protecting-env {
    padding-top: 2em;
}
#track-and-trace-sub {
    max-width: 99%;
}