*{
    scroll-behavior: smooth;
}

.section{
    padding: 8rem 0 7;
    text-align: center;
}

.section-heading,
.section-description{
    margin-bottom:1.2rem;
}

.section-a .fa{
    font-size: 30px;
    margin-bottom: .5rem;
}

.section-a h5{
    margin-bottom: .3rm;
}

.section-a a {
    color: black;
    text-decoration: none;
}

.section-a nav{
    scroll-behavior: smooth;
}

.section-statement .showcase-img {
    position: relative;
    max-width: 110%;
    margin: 3rem auto 3rem;
}

.section-c .showcase-img{
    position: relative;
    max-width: 110%;
    margin: .3rem auto .1rem;
}

.section-b label{
    text-align: left;
}

.section-img img {
    position: relative;
    max-width: 20%;
}

.section-img {
    padding: 2rem 0 0;
}

button:hover{
    background: #00ca46;
}

.section-showcase a:hover, .section-statement a:hover {
    background: #00ca46;
}

.section-d ul{
    text-align: left;
    list-style-position: outside;
}

.section-d .row.row2 img, .section-d .row.row6 img, .section-d .row.row7 img{
    margin: 10rem -10rem 0;
}
 

#button {
    display: inline-block;
    background-color:  #00ca46;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 50px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "^";
    font-family: 'Texturina', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

  #address-info{
      list-style-position: outside;
  }
  
  .numbers{
    font-family: 'Quicksand', sans-serif;
  }
  
  footer {
      text-align: center;
      line-height: 0.1em;
  }

  footer a {
      padding-bottom: 2em;
  }

  @media(min-width:100px) {
      .section-b .column2{
        padding-left: 0em;
    }

    .section-b .column2 h5, .section-b .column2 h3 {
        text-align: left;
    }

    footer {
        text-align: center;
        line-height: 1em;
    }
  }

  @media(min-width:1000px) {
    .section-b .column2{
        padding-left: 4em;
        padding-top: 1em;
    }

    .section-b .column2 h5, .section-b .column2 h3 {
        text-align: left;
        white-space: nowrap;
    }
  }

  .section-a.about-us,.section-a.priv-pol {
      padding-top: 3em;
  }

.section-a.priv-pol p{
    font-size: larger;
  }

  #status {
      width: 90%;
      max-width: 500px;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      border-radius: 8px;
  }

  #status.success {
      background-color: #00ca46;
      animation: status 4s ease forwards;
  }

  .input-error {
      color: rgb(250, 129, 92);
  }

  @keyframes status {
      0% {
          opacity: 1;
          pointer-events: all;
      }

      90% {
          opacity: 1;
          pointer-events: all;
      }

      100% {
          opacity: 0;
          pointer-events: none;
      }
  }

  #loader{
      display: none;
      position: relative;
      max-width: 15%;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.error-class::-webkit-input-placeholder {
    color: rgb(250, 129, 92);
 }

 input:focus { 
    outline: none !important;
    border-color: #00ca46;
    box-shadow: 0 0 3px #00ca46;
}
textarea:focus { 
    outline: none !important;
    border-color: #00ca46;
    box-shadow: 0 0 3px #00ca46;
}

input[type=textarea] {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
}